.case{
width: 100px;
height:100px;
  border: 25px solid purple;
background-color:red;
}
.emptycase{
background-color:red;
width: 100px;
height:100px;
opacity: 0;
}
.image{
    width: 100px;
    height: 100px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;  
}
.image:hover {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}